.pb-1 {
    padding-bottom: 1px;
}

.pb-2 {
    padding-bottom: 2px;
}

.pb-3 {
    padding-bottom: 3px;
}

.pb-4 {
    padding-bottom: 4px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-6 {
    padding-bottom: 6px;
}

.pb-7 {
    padding-bottom: 7px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pb-9 {
    padding-bottom: 9px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-11 {
    padding-bottom: 11px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-13 {
    padding-bottom: 13px;
}

.pb-14 {
    padding-bottom: 14px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-17 {
    padding-bottom: 17px;
}

.pb-18 {
    padding-bottom: 18px;
}

.pb-19 {
    padding-bottom: 19px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-21 {
    padding-bottom: 21px;
}

.pb-22 {
    padding-bottom: 22px;
}

.pb-23 {
    padding-bottom: 23px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-25 {
    padding-bottom: 25px;
}